doctype html
html(lang="en")

  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title HomePage

    style
      include ../../dist/styles/animation.css 

  body
    include ./header.pug
    
    .container
      nav
        ul
          li
            a(href="#nav-menu") Drop Down Menu

          li
            a(href="#notification") Notifications

          li
            a(href="#") Spinners & Loaders

          li
            a(href="#") Step By Step Form

          li
            a(href="#") Load Animation

      .main
        header(id="nav-menu") Drop Down Menu
        section(class="nav-menu")
          nav: ul
            - var i = 0;
              while (i++ < 4)
                li style #{i}
                  ul(class="drop-menu menu-"+i)
                    li uno
                    li dos
                    li tres
                    li cuatro
                    li cinco
                    li seis

        header(id="notification") Notifications
        section.section-notification
          ul.nav
            li: i.material-icons home
            li.search: i.material-icons search
            li.is-active: i.material-icons star
              ul.notifications
                li
                  i.material-icons remove_red_eye
                  span 9
                li
                  i.material-icons comment
                  span 4
                li
                  i.material-icons account_circle
                  span 6
            li.face: i.material-icons face

          .alert-element
            .icon
              i.material-icons notifications
            .text
              span You clicked a Search Button!!
          
          .overlay
            .modal
              .title You clicked me!
              .body
                .img(style="background-image: url(http://s2b.oss-cn-shanghai.aliyuncs.com/Fashion/users/rootadmin/0b55b319ebc4b7456aa45075cdfc1e178a8215a4.jpg)")
                .text 
                  p Hi! I'm Claire Wang!  A Front-End Engineer!
                  p Welcome to my animation page!!  Just Enjoy It!!
          



