doctype html
html(lang="en")

  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title HomePage

    style
      include ../../dist/styles/animation.css 

  body
    include ./header.pug
    
    .container
      nav
        ul
          li
            a(href="#") Drop Down Menu

          li
            a(href="#") Notifications

          li
            a(href="#") Spinners & Loaders

          li
            a(href="#") Step By Step Form

          li
            a(href="#") Load Animation

      .main
        header Drop Down Menu
        section(class="nav-menu")
          nav: ul
            - var i = 0;
              while (i++ < 4)
                li style #{i}
                  ul(class="drop-menu menu-"+i)
                    li uno
                    li dos
                    li tres
                    li cuatro
                    li cinco
                    li seis
          



