doctype html
html(lang="en")

  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title HomePage

    style
      include ../../dist/styles/animation.css 

  body
    h1 Pug
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it! Hahaha!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.

    script
      include ../../dist/js/animation.bundle.js 
